.upload {
  // Size
  height: 100%;
  width: 100%;

  // Alignment
  display: flex;
  justify-content: center;
  align-items: center;

  // Design
  color: #E0E0E0;
  font-size: 2em;
  text-shadow: 3px 2px 1px #EEEEEE;
  
  user-select: none;
  cursor: pointer;
}
